
/*content左边的图片部分*/
.wrapper{
    width: 100%;
    overflow: hidden;
    background: #FBF8F8;
    border-top: 1px solid #e5e5e5;
}

h2{
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}
.service-center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.centerleft {
    width: 970px;
    float: left;
    margin-bottom: 50px;
}
.tabdiv ul .ulactivety {
    display: block;
}
.centerleft ul li {
    border: 1px solid #eaeaea;
    padding: 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    cursor: pointer;
}
.centerleft ul li img{
    vertical-align: middle;
}
.centerleft ul li .img-width{
    width: 210px;
    height: 210px;
}
.centerleft ul p {
    display: block;
    width: 210px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.centerleft ul .img-p{
    margin-top: 15px
}
.centerleft ul .img-p img{
    margin-bottom: 5px;
    width:18px;
    height:17px;
}
.centerleft p.pp {
    font-size: 12px;
    color: #929292;
}
.centerleft p.pp span{
    float: right;
}
.getServiceList{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 152px;
    clear: both;
    text-align: center;
}
.getServiceList span{
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 50px 5px;
    background: #fff;
    display: inline-block;
    font-size: 16px;
    color: #b1b1b1;
    cursor: pointer;
}
.getServiceList img{
    margin-left: 5px;
    vertical-align: middle;
}
/*content的右边的图片部分*/
.centerright {
    width: 230px;
    float: right;
}
.centerright img{
    vertical-align: middle;
}
.centerright .right-top{
    cursor: pointer;
    width: 230px;
    height:auto;
}
.centerright .quickmark img{
    width:130px;
    height:auto;
}
.quickmark {
    width: 230px;
    height: 290px;
    background: url(../img/quickmark.jpg) no-repeat center;
    margin-top: 10px;
}
.quickmark img {
    margin: 50px 0 0 50px;
}


