body{
    font-size: 14px;
}

.wrapper{
    width: 100%;
    overflow: hidden;
    background: #FBF8F8;
}
/*中心部分的htit头*/
.htit {
    margin: 10px auto 0;
    background: #fff;
}
.htit-center {
    height: 140px;
    line-height: 140px;
    width: 1200px;
    margin: 0 auto;

}
/*中心部分的左边*/
.htit-left {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    height: 120px;
}
.htit-left b {
    font-size: 36px;
    font-weight: 700;
}
.htit-left span{
    margin-left: 10px;
    color: #929292;
}
.htit-left span em{
    color: #121212;
    font-style: normal;
}
.htit-left span .order-data{
    color: #e84b47;
}

/*中心部分的右边*/
.htit-right {
    float: right;
    height: 120px;
    margin-top: 15px;
}
.htit-right li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 22px;
    margin-top: 52px;
}
.htit-right li span {
    display: block;
    color: #e84b47;
}
.htit-right li em {
    position: relative;
    bottom: 12px;
    left: 20px;
    color: #e5e5e5;
    font-style: normal;
}

/*中心部分的nav头*/
.navtit {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #323434;
    clear: both;
}
.navtit ul{
    width: 1200px;
    margin: 0 auto;
}
.navtit ul li a{
    color: #fff;
    font-weight: normal;
}
.navtit ul li {
    width: 140px;
    height: 40px;
    color: #fff;
    text-align: center;
    display: inline-block;
}
.navtit ul li.slibingsclor {
    background: #424242;
}

/*中心部分的内容区*/
.content{
    width: 1200px;
    margin: 22px auto 0;
}
.centerleft {
    width: 960px;
    float: left;
    margin-bottom: 50px;
    background: #fff;
}
.centerleft h3{
    width: 95%;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 3%;
    height: 60px;
    line-height: 60px;
}
.arrange .activity{
    font-size: 16px;
    font-weight: normal;
    color: #121212;
    margin: 0;
    border-bottom: 4px solid #fb474f;
    padding-bottom: 16px;
}


.ctop {
    height: 200px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    overflow: hidden;
}
.ctop img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
.pic {
    border: 1px solid #e5e5e5;
    margin: 25px;
    float: left;
}
.content .spm {
    width: 64%;
    float: left;
    position: relative;
    top: 25px;
}
.content .spm span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 99%;
    display: block;
    line-height: 42px;
    height: 42px;
}
.spm .rat-a{
    font-size: 18px;
    color: #1d1515;
}
.spm .rat-b{
    color: #929292;
}
.content .price {
    margin-top: 20px;
}

.one_price{
    color: #fc545e;
    font-size: 30px;
    margin-left: 0;
    font-weight: 600;
}
.spm b em {
    font-size: 14px;
    font-style: normal;
}
.price .oldpic{
    font-size: 14px;
    color: #898989;
    font-weight: normal;
    display: inline-block;
    margin-left: 20px;
}
.oldpic em{
    text-decoration: line-through;
}
.content .spf {
    color: #929292;
    float: right;
    margin: 150px 60px 0 0;
}

/*查看更多*/
.paging_more{
    display: block;
    background: #fbf8f8;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    clear: both;
    text-align: center;
}
.paging_more span{
    margin: 10px 5px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    font-size: 16px;
    color: #b1b1b1;
    cursor: pointer
}
.paging_more img{
    margin-left: 5px;
    vertical-align: middle;
}
.company {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin: 10px 25px;
}
.company img{
    margin-left: 10px;
    vertical-align: middle;
}
.profile {
    line-height: 28px;
    color: #929292;
    margin: 10px 25px 25px;
    font-size: 16px;
}

.space-line{
    width: 100%;
    border-top: 10px solid #fbf8f8;
}

h3 .arrange em{
    font-size: 14px;
    color: #121212;
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
}
.conments {
    width: 96%;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 3%;
    padding-top: 20px;
}
.header-pic{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
}
.conments ul {
    display: inline-block;
    margin-left: 20px;
    width: 92%;
}
.conments ul li {
    border: none;
    width: auto;
    height: auto;
    display: block;
    float: none;
    padding: 0;
    line-height: 28px;
    margin: 0;
}
.star{
    width: 70px;
    margin-left: 0;
}
.noColor img{
    width: 10px;
    height: 10px;
    vertical-align: middle;
}
.conments ul li em{
    font-style: normal;
    margin-left: 10px;
}
.conments ul li.commentdetail {
    line-height: 26px;
    font-size: 16px;
}
.conments ul li.commentimg {
    margin: 15px auto;
}
.conments ul li.commentposition {
    height: 40px;
    color: #898989;
}
.conments ul li.commentposition img{
    margin-right: 10px;
}


/*底部分页*/
.paging{
    width: 100%;
    margin: 0 auto;
    height: 152px;
    line-height: 152px;
    clear: both;
    text-align: center;
}
.pagination{
    margin: 0;
}
.pagination a{
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}
.pagination li{
    display: inline-block;
    margin: 50px 5px;
    background: #fff;
    color: #000000;
}
.pagination li a {
    color: #121212;
    border-radius: 0;
}
.pagination .num{
    display: inline-block;
    width: 32px;
}
.paging .greycolor{
    color: #929292;
}



    /*右侧的二维码*/
.centerright {
    margin-left: 0;
    width: 230px;
    float: right;
}
.rightct {
    width: 100%;
    background: #fff;
    text-align: center;
}
.quickmark{
    width: 230px;
    height: 290px;
}
.quickmark2{
    height: 240px;
    margin-top: 0;
    padding-top: 50px;
    background:url(../img/fuwushang2_07.jpg) no-repeat;
}
#qrcode img{
    display: inline-block;
    vertical-align: baseline;
}
.quickmark3 {
    background: url(../img/quickmark.jpg);
    margin-top: 10px;
}
.quickmark3 img{
    width: 130px;
    height: 130px;
    text-align: center;
    margin-left: 0;
    margin: 50px 0 0 0;
}


